h2 {
    margin: 3rem 7rem;
    font-size: 2rem;
}

.each-section {
    margin: 0rem 7rem;
}

button {
    display: flex;
    font-size: 1.3rem;
    margin: 2rem 50%;
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    border: none;
}

img {
    margin: auto;
}

button:hover {
    cursor: pointer;
}